<div class="ui container red">
  <button class="ui button" {{action "delete" model}}>
    Supprimer ?
  </button>
  <button class="ui button" type="submit" {{action "cancel"}}>Annuler</button>
</div>
{{outlet}}