<div class="ui container">
  <div class="ui secondary  menu">
    <LinkTo class="item" @route="projects">
      Projects
    </LinkTo>
    <LinkTo class="item" @route="developers">Developer</LinkTo >
  </div>
</div>
{{outlet}}