<div class="ui container">
  <div class="ui secondary  menu">
    <a class="active item" href="#" >
      Home
    </a>
    <LinkTo class="item" @route="projects">
      Projects
    </LinkTo>
    <LinkTo class="item" @route="developers">Developer</LinkTo >
  </div>
</div>
{{outlet}}