<div class="ui container">
  <div class="ui secondary  menu">
    <LinkTo class="item" @route="developers">Développeurs</LinkTo>
    <LinkTo class="item" @route="projects">Projets</LinkTo>
  </div>
</div>
{{outlet}}