<div class="ui top attached tabular menu">
  <div class="active item" data-tab="one"></div>
  <div class="center item" data-tab="two">Two</div>
  <div class="item" data-tab="three">Three</div>
</div>
<div class="ui bottom attached active tab segment" data-tab="one">
  <p></p>
  <p></p>
</div>
{{outlet}}