<div class="ui container">
  <div class="ui icon message">
    <i class="calendar alternate icon"></i>
    <div class="content">
      <div class="header">
        model\developers
      </div>
      <p>Administration des données</p>
    </div>
  </div>
  <LinkTo class="ui button orange" @route="developers.add">
    <i class="plus icon"></i> Ajouter un développeur
  </LinkTo>
  <table class="ui celled table striped">
    <thead>
      <tr>
        <th>Identity</th>
        <th>Éditer</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |developer|}}
      <tr>
        <td data-label="Name">{{developer.identity}}</td>
        <td><LinkTo class="circular ui icon button inverted grey" @route="developers.edit" @model={{developer}}><i class="icon edit grey"></i></LinkTo></td>
        <td><LinkTo class="circular ui icon button inverted red" @route="developers.delete" @model={{developer}}><i class="icon times"></i></LinkTo></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}