<div class="ui container">
  <LinkTo class="ui button"  @route="story.new" @model={{model.project}}>
    Ajouter une story
  </LinkTo>
  {{#each model.story as |story|}}
  <div class="ui icon message">
    <i class="file icon"></i>
    <div class="content">
      <div class="header">
        {{story.code}}
      </div>
      <p>{{story.detail}}</p>
    </div>
  </div>
    {{/each}}
</div>
{{outlet}}